@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  line-height: 1.35;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.paper-bg {
    background-image: url('./public/images/paper-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
}

.brown-bg {
    background-color: #221210;
}

.normal-text {
    font-size: 20px;
    line-height: 27px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading-text {
    color: #E8183D;
    text-transform: uppercase;
    font-weight: 500;
    white-space: pre-line;
    line-height: 1.4;
    font-size: 64px;
    font-style: italic;
}

.container {
    width: 779px;
}

.red-top-border {
    border-top: 2px solid #FF103B;
}

.white-top-border {
    border-top: 2px solid white;
}

a {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .container {
        width: 384px;
    }

    .heading-text {
        font-size: 45px;
    }
}

@layer base {
  body {
    @apply antialiased min-h-[100%] m-0 p-0 overflow-x-hidden no-scrollbar overflow-y-auto
  }

  html {
    @apply scroll-smooth min-h-[100%] overflow-x-hidden overflow-y-auto
  }
}
